node_modules/
dist/
build/
.vscode/
.idea/
*.log
*.md
*.json
*.mdx
*.html
*.css
*.scss
*.svg
*.png
*.jpg
*.jpeg
*.gif
*.ico
*.webp
*.eot
*.ttf
*.woff
*.woff2
*.mp4
*.webm
*.wav
*.mp3
*.m4a
*.aac
*.oga
*.mjs
.cache/
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage/
*.d.ts
*.config.js
vite.config.*
